/backend/node_modules
/backend/package-lock.json
/backend/src/config/config.env
/backend/src/config/config.env.local
/backend/src/config/config.env.development
/backend/src/config/config.env.production
/backend/.env
/backend/uploads
