.search-container {
    margin: 30px 0;
    display: flex;
    gap: 8px;
    align-items: center;
    border: 2px solid #FF9738;
    border-radius: 5px;
    padding: 8px;
    width: 90%;
    max-width: 568px;
}

.search-input {
    flex: 1; 
    padding: 3px 10px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #333; 
    font-family: Inter;
}

.search-input::placeholder {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 14.52px;
    letter-spacing: 0%;
    color: #FF9738;
}
