.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    z-index: 100;
}


.logo-container {
    display: flex;
    align-items: center;
}

.nav-logo {
    width: 120px;
    cursor: pointer;
    margin-left: 20px;
}


.nav-links-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-links {
    display: flex;
    gap: 70px;
    list-style: none;
    padding-left: 150px;
    font-family: Montserrat;
}

.nav-links li {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    z-index: 20;
}

.nav-links li a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
}

.nav-links li:hover a,
.nav-links li.active a {
    color: #FF8038;
}

.nav-btn-container{
    display: flex;
    align-items: center;
    gap: 35px;
}

.nav-btn-container img{
    cursor: pointer;
}

.cart-icon-container{
    position: relative;
    margin-left: 15px;
}

.cart-icon-container img{
    width: 30px;
    height: 30px;
}

.nav-cart-count{
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF9738;
    color: #000;
    border-radius: 11px;
    font-size: 12px;
}

.nav-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background-color: #FF9738;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-right: 20px;
    z-index: 10;
}

.nav-btn:hover {
    background-color: #FF8038;
}

.user-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 10;
}

.notification-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-top: 7px;
    z-index: 10;
}


.user-menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-right: 100px;
}

.user-icon {
    font-size: 2.3rem;
    padding: 10px;
    background: #FFF;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 20px;
}

.drop-down-container{
    background-color: #fff;
    position: absolute;
    right: -8px;
    top: 44px;
    width: 70px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.user-menu .dropdown {
    background: #FF9738;
    border-radius: 5px;
    list-style: none;
    padding: 0;
    min-width: 100px;
    min-height: 80px;
    z-index: 1;
    display: none; 
}


.user-menu .dropdown.active {
    display: block;   
}

.user-menu .dropdown li {
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.3s;
    text-align: left;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    color: #000;
}

.user-menu .dropdown li:hover {
    background: #fff;
}

.user-menu .dropdown a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
}

.user-menu .dropdown li:last-child {
    border-top: 2px solid #FF8038;
    color: #000;
    font-weight: 500;
}

.nav-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
    background: none;
    border: none;
    color: #FF9738;
}


@media (max-width: 1024px) {
    .nav-links {
        gap: 30px;
    }
}

@media (max-width: 912px) {
    .nav-links {
        gap: 25px;
        padding-left: 110px;
    }
}

@media (max-width: 820px) {
    .nav-links {
        gap: 20px;
        padding-left: 80px;
    }

    .nav-links li {
        font-size: 14px;
    }

    .nav-btn {
        font-size: 14px;
    }
}


@media (max-width: 768px) {
    .nav-toggle {
        display: block;
    }

    .nav-links-container {
        position: absolute;
        top: 100%;
        right: 0;
        width: auto;
        min-width: 345px;
        background: #fff;
        flex-direction: column;
        align-items: flex-start;
        display: none;
        padding: 15px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        transition: max-height 0.4s ease-in-out;
        border-radius: 5px;
    }

    .nav-links {
        flex-direction: column;
        gap: 15px;
        width: 100%;
        text-align: left;
        padding-left: 30px;
    }

    .nav-links-container.active {
        display: flex;
    }

    .nav-links li {
        width: 100%;
        padding: 10px 0;
    }

    .nav-btn {
        font-size: 14px;
        padding: 10px 15px;
        text-align: left;
        margin-left: 25px;
        margin-top: 10px;
    }
}


@media (max-width: 480px) {
    .navbar {
        padding: 10px;
        width: 100%;
    }

    .nav-logo {
        width: 100px;
    }

    .nav-btn {
        font-size: 14px;
        padding: 10px 15px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .nav-links-container {
        min-width: 300px;
    }

    .nav-links {
        padding-left: 20px;
    }
}


@media (max-width: 375px) {
    .nav-logo {
        width: 80px;
        margin-left: 10px;
    }

    .nav-btn {
        font-size: 13px;
        padding: 8px 12px;
        width: max-content;
        white-space: nowrap;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-right: auto;
        margin-left: 10px;
    }
}
